#gem
  %h2
    =@gem.name
    %span.version=@gem.version
  - if @gem.description
    .description
      =rdocify @gem.description
  - if @gem.summary
    .description
      =rdocify @gem.summary
  .meta
    %p.authors
      By 
      =@gem.authors.join(', ')
      ='(' + link_to(@gem.email, "mailto:#{@gem.email}") + ')'
    %p.url
      Homepage: 
      =link_to(@gem.homepage)
    %p.url 
      Documentation:
      =link_to("RDoc", "/docs/#{@gem.name}/#{@gem.version}/doc/rdoc") if File.exists?("#{AllGems.data_directory}/#{@gem.name}/#{@gem.version}/doc/rdoc")
      =link_to("SDoc", "/docs/#{@gem.name}/#{@gem.version}/doc/sdoc") if File.exists?("#{AllGems.data_directory}/#{@gem.name}/#{@gem.version}/doc/sdoc")
      =link_to("Hanna", "/docs/#{@gem.name}/#{@gem.version}/doc/hanna") if File.exists?("#{AllGems.data_directory}/#{@gem.name}/#{@gem.version}/doc/hanna")
    -unless @gem.rubyforge_project.nil?
      %p.url
        Rubyforge:
        =link_to("http://rubyforge.org/projects/#{@gem.rubyforge_project}")
    %p.released 
      Released
      =ts(@gem.date)
  %h3.toggler Dependencies
  #dependencies.toggle_area
    ="none" if @gem.dependencies.size == 0
    -@gem.dependencies.each do |dependency|
      .gem
        =link_to(dependency.name, "/gems/#{dependency.name}")
        %span.version=dependency.version_requirements
  %h3.toggler Other Versions
  #versions.toggle_area
    %table
      %tbody
        -@versions.each do |info|
          %tr
            %td=link_to(info[:version], "/gems/#{@gem.name}/#{info[:version]}")
            %td=ts(info[:release])
  %h3.toggler LID Generation
  #lid
    =link_to('Click here', "/glid/#{@gem.name}/#{@gem.version}")
    to generate a customized
    =link_to('LID', "/about#lid")
    for this gem.